* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template: 1.5fr 6fr / 1.3fr 6fr;
}



/* SIDEBAR */

.sidebar {
    background-color: rgb(67, 144, 231);
    color: white;
    grid-row: 1 / 3;

    padding-inline: 20px;

    display: grid;
    grid-template-rows: 0.5fr 1fr 3fr ;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.logo,
.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 1.2em;
}

/* HEADER */

.header {
    background-color: rgb(252, 251, 251);
    padding-inline: 40px;

    display: grid;
    grid-template-rows: 0.6fr 1fr;

    box-shadow: 30px 30px #000000;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-bar input {
    background-color: rgb(212, 227, 240);
    flex-grow: 1;
    height: 30px;
    border-radius: 20px;
}

.top-header p {
    font-size: 1.2em;
    font-weight: bold;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile-section {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-self: flex-end;
}

.profile-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-container > .pfp-big {
    height: 70px;
    width: 70px;
    
}

.profile-container p {
    font-weight: bold;
}

.bottom-header .profile-intro > p:nth-child(2) {
    font-size: 1.7em;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.buttons {
    align-self: center;

    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.buttons button {
    color: white;
    background-color:  rgb(67, 144, 231);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
}
/* MAIN */

.main-content {
    background-color: rgb(212, 227, 240);
    padding: 20px;

    gap: 30px;
}

.projects-container > h2,
.news-content > h2 {
    margin-bottom: 10px;
}

.news-content:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    grid-column: 3;
    grid-row: 2 / span 3;
}

.news-content:nth-child(even) {
    background-color: rgb(255, 255, 255);
    grid-column: 3;
    grid-row: 5 / span 3;
}

.users img {
    width: 50px;
}

.cards {
    display: grid;
    grid-template: 0.1 1fr 1fr 1fr 1fr 1fr 1fr 1fr / repeat(3, 1fr);

    gap: 30px;
}

.card {
    background-color: white;
    height: 200px;

    border-left: solid 7px rgb(247, 192, 74);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 20px;

    grid-row: span 2;
}

.card-buttons {
    align-self: flex-end;
    display: flex;
    gap: 20px;

    margin-top: auto;
}

.card-buttons img {
    width: 25px;
}

.titles {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cards > h2:nth-child(odd) {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.cards > h2:nth-child(even) {
    grid-row: 1;
    grid-column: 3;
}

.news-content > h2 {
    background-color: rgb(212, 227, 240) ;
    padding-bottom: 10;
}

/* Icon and Images */

.item > img{
    width: 30px;
    fill: white;
}

.logo > img {
    width: 50px;
}

.header img {
    width: 30px;
}

.top-header .pfp-normal {
    width: 40px;
}